{% extends "zinnia/base.html" %}
{% load i18n tagging_tags comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block link %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'" href="{% url zinnia_entry_discussion_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'" href="{% url zinnia_entry_comment_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_pingback_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_trackback_feed object.slug %}" />
{% endblock %}

{% block content %}
<article class="hentry">
  {% with object.html_content|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
  <section class="inner-links" role="complementary">
	<nav class="previous-next">
	  {% with object.previous_entry as previous_entry %}
	  {% if previous_entry %}
		<a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" class="entry-previous" rel="next">
		  {{ previous_entry.title }} 
		</a>
	  {% endif %}
	  {% endwith %}
	  {% with object.next_entry as next_entry %}
	  {% if next_entry %}
		<a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" class="entry-next" rel="prev">
		  {{ next_entry.title }}
		</a>
	  {% endif %}
	  {% endwith %}
	</nav>
  </section>
	{% if object.related_published_set %}
  <section class="entry-related">
	<h3>{% trans "Related entries" %}</h3>
	<ul>
	  {% for entry in object.related_published_set %}
	  <li>
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a>
	  </li>
	  {% endfor %}
	</ul>
  </section>
  {% endif %}
  <section class="entry-similar">
	<h3>{% trans "Similar entries" %}</h3>
	{% get_similar_entries 5 %}
  </section>
</article>
{% endblock %}
